.App {
  text-align: center;
}

header {
  background-color: #ffeb38;
  min-height: 5vh;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #101510;
}

section {
  background-color: #8cfd73;
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 100%;
  justify-items: center;
  align-items: center;
  color: #420c14;
}
.Board-Wrapper {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  height: 100%;
  width: 60%;
  align-items: center;
}
.Board {
  display: grid;
  height: 55vh;
  width: 60vh;
  grid-gap: 15px;
  font-size: 1rem;
}
.Board-9 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.Board-25 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  font-size: 0.5rem;
}
.Board-49 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  font-size: 0.5rem;
}
.Board-81 {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  font-size: 0.5rem;
}

.Box,
.Winner {
  background-color: #ffeb38;
  border: 1px solid rgb(95, 83, 67);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #101510;
}

.Winner {
  background-color: #15ff31;
  transform: rotate(360deg);
  transition: transform 1s;
}

.Reset-Btn {
  font-size: 1.2rem;
  margin-top: 10px;
}
.Drop-Down {
  height: 50%;
  margin-left: 10px;
  font-size: 1.2rem;
}

.Board-Selector,
.Hidden-Selector {
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Hidden-Selector,
.Hidden-Selector > select,
option {
  color: transparent;
  background: transparent;
  border: none;
}
.Box-Content {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}

/* ---- Player Panels ---> */

.Player-Box {
  /* border: 1px solid red; */
  height: 70vh;
  width: 35vw;
  margin: 2em;
}
.Player {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  background-color: #37d84b;
}

.Player-Heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Player-Heading h2 {
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.Icon {
  display: inline-block;
  border: 1px black solid;
  text-align: center;
  border-radius: 10%;
  padding: 5px;
  width: fit-content;
  background-color: #ffeb38;
  font-size: 1.5rem;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
.Player-Details {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.NameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.NameForm input {
  font-family: inherit;
  font-size: 1.5rem;
  width: inherit;
}
.NameForm button {
  margin-top: 2%;
  width: fit-content;
  font-family: inherit;
  font-size: 1.5rem;
}
.Weapon-Changer {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  height: 40%;
  align-items: center;
  justify-content: center;
}
.Weapon-Changer span {
  font-size: 1.7rem;
}

.Weapon-Input {
  font-family: inherit;
  font-size: 1.5rem;
  width: inherit;
}

.Score-Container {
  /* border: 1px solid yellow; */
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Score-Container h3 {
  font-size: 3rem;
  color: #101510;
  margin: 0;
}
.Score {
  display: inline-block;
  font-size: 4rem;
  /* margin: 0; */
}

.Message {
  margin-top: 10px;
  font-size: 1.5rem;
}

.Turn-Box {
  height: 5vh;
  margin-top: 0;
  background-color: #37d84b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Turn,
.No-Turn {
  background-color: #ffeb38;
  width: 30%;
  color: #101510;
  font-size: 1.3rem;
}
