* {
  box-sizing: border-box;
}
html {
  font-size: 1em;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
}
/* <----- Main Header ----> */
header {
  background-color: #ffeb38;
  height: 10vh;
  min-height: 40px;
  width: 100%;
  min-width: 295px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #101510;
}
/* <----- Mode Selection ----> */
.Mode-Btns-Hidden {
  display: none;
}

.Mode-Btns {
  position: absolute;
  height: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.678);
}
.Mode-Btns p {
  margin: 0;
  width: 80%;
  font-size: 1.2rem;
  font-family: inherit;
  color: white;
  padding: 2%;
  text-align: center;
  min-height: fit-content;
}
.Mode-Btns button {
  border: 2px solid black;
  width: 50%;
  height: 20%;
  font-size: 1.3rem;
  font-family: inherit;
  background-color: #5de273;
}
.Mode-Btns button:hover {
  cursor: pointer;
}
.Mode-Select {
  font-size: 4rem;
}
/* <----- Main Section ----> */
section {
  box-sizing: border-box;
  margin: 0;
  background-color: #8cfd73;
  display: flex;
  flex-direction: column;
  height: 90vh;
  min-height: 500px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  color: #420c14;
}

/* —— Player Panels —> */

.Player-Box {
  display: flex;
  flex-direction: column;
  height: 18%;
  width: 90%;
  min-width: 295px;
  border: 1px solid black;
}
.Player {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  padding-left: 5px;
  background-color: #37d84b;
}

.Player-Heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  width: 30%;
  min-width: 30%;
  height: 100%;
}
.Player-Heading h2 {
  margin: 0;
  padding-top: 5%;
  text-align: center;
  width: 90%;
  min-height: 60%;
  letter-spacing: 0.1rem;
  line-height: 1rem;
  font-size: 1.4rem;
  word-wrap: break-word;
}
.Icon {
  align-self: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: fit-content;
  min-width: 40%;
  max-width: fit-content;
  min-height: 30px;
  border: 1px black solid;
  border-radius: 5%;
  padding: 2%;
  background-color: #ffeb38;
  font-size: 1.5rem;
  font-family: Roboto, “Open Sans”, “Helvetica Neue”, sans-serif;
}

/* <----- Player Forms ----> */
.Player-Details {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-height: 100%;
  margin-top: 1%;
}
.NameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 1%;
}
.Name-Input,
.Weapon-Input {
  width: 60%;
  height: 60%;
  font-family: inherit;
  font-size: 0.9rem;
}
.Change-Button {
  font-size: 0.6rem;
  padding: 0;
  width: 60%;
  height: 40%;
}
.Weapon-Changer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weapon-Changer span {
  margin: 0;
  display: inline-block;
  font-size: 0.8em;
  padding: 0;
  width: 60%;
  height: 40%;
}

/* <----- Score Display ----> */

.Score-Container {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: flex-start;
  justify-content: center;
  color: #101510;
}
.Score-Container h3 {
  height: 50%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 1.7rem;
}
.Score {
  display: inline-block;
  text-align: center;
  font-size: 3rem;
  height: fit-content;
  width: 100%;
  margin: 0;
}

/* <----- Turn Display ----> */

.Turn-Box {
  background-color: #37d84a;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Turn,
.No-Turn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #37d84a;
  height: 70%;
  width: 50%;
  color: transparent;
}
.Turn {
  background-color: #ffeb38;
  color: #101510;
  font-size: 0.9rem;
}

/* <——— GAME SECTION ——> */
.Middle-Wrapper {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  min-height: 300px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1em;
}
.Board-Selector,
.Hidden-Selector {
  width: 100%;
  text-align: center;
  min-width: 100%;
  padding-top: 10px;
  height: 10%;
  min-height: 10%;
  font-size: 1rem;
  margin: 0;
}

.Hidden-Selector {
  color: transparent;
  background: transparent;
  border: none;
}

.Drop-Down {
  font-size: 0.9rem;
  font-family: inherit;
  height: fit-content;
}
.Hidden-Selector > select {
  display: none;
}

/* <----- Main Board ----> */
.Board-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  height: 75%;
  width: 100%;
  min-width: 320px;
  padding-top: 15px;
}
.Board {
  display: grid;
  grid-gap: 2%;
  justify-content: center;
  height: 90%;
  width: 70%;
}
.Board-9 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 3rem;
}
.Board-16 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  font-size: 2rem;
}
.Board-25 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  font-size: 1.5rem;
}
.Board-36 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-size: 1.5rem;
}
.Board-49 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  font-size: 1.2rem;
}
.Board-64 {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-size: 1rem;
}
.Board-81 {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  font-size: 0.8rem;
}

.Box,
.Winner {
  width: 100%;
  height: 100%;
  background-color: #ffeb38;
  border: 1px solid rgb(95, 83, 67);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #101510;
}
.Box:hover {
  cursor: pointer;
}

.Winner {
  background-color: #15ff31;
  transform: rotate(360deg);
  transition: transform 1s;
}

.Reset-Btn {
  border: 1px solid black;
  font-size: 0.9rem;
  margin: 0.35rem;
}
.Reset-Btn:hover {
  cursor: pointer;
}

.Box-Content {
  font-family: Roboto, “Open Sans”, “Helvetica Neue”, sans-serif;
}
.Message-Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 0.8rem;
  height: 15%;
}

.Message,
.No-Message {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 0.9rem;
  padding-top: 10px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.Win-Message {
  background-color: #f6f9f7;
  padding-top: 2%;
  font-size: 1.5rem;
  animation: blinker 0.6s;
  animation-iteration-count: 4;
}
.No-Message {
  color: transparent;
}

@media only screen and (min-width: 411px) {
  html {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 420px) {
  .Board {
    width: 55%;
  }
}

@media only screen and (min-width: 500px) {
  header {
    height: 15vh;
  }

  section {
    flex-direction: row;
    height: 85vh;
  }

  .Mode-Btns button:hover {
    cursor: pointer;
  }
  .Mode-Select {
    font-size: 4rem;
  }
  .Player-Box {
    margin: 1%;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 19%;
    max-height: 90%;
    min-width: 19%;
    min-height: 90%;
  }
  .Player {
    height: 95%;
    min-height: 95%;
    flex-direction: column;
  }
  .Player-Heading {
    justify-content: center;
    width: 100%;
    min-width: 100%;
    height: 30%;
    min-height: 25%;
  }
  .Player-Heading h2 {
    width: 100%;
    line-height: 2rem;
  }
  .Icon {
    width: 100%;
  }
  .Player-Details {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
  }

  .Name-Input,
  .Weapon-Input {
    width: 90%;
    height: 40%;
  }

  .Change-Button {
    width: 90%;
    height: 30%;
  }
  .Weapon-Changer {
    height: 100%;
  }

  .Score-Container {
    width: 100%;
    height: 50%;
  }

  .Turn-Box {
    height: fit-content;
    height: 5%;
    margin: 0;
    padding: 0;
  }

  .Turn,
  .No-Turn {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  /* * <——— BOARD ——> */
  .Middle-Wrapper {
    display: flex;
    flex-direction: column;
    height: 90%;
    font-size: 1em;
  }

  .Board-Wrapper {
    width: 60%;
    min-width: 50%;
    height: 100%;
    max-height: 90%;
    justify-content: space-evenly;
  }

  .Board {
    height: 280px;
    width: 280px;
    grid-gap: 0.5rem;
  }
  .Turn {
    font-size: 1.1rem;
  }

  .Message-Box {
    margin-top: 0.5rem;
  }

  .Win-Message {
    margin-top: 0.2rem;
  }

  .Reset-Btn {
    margin: 0.4rem;
  }
}

@media only screen and (min-width: 650px) {
  .Board {
    width: 350px;
    height: 340px;
  }
}
@media only screen and (min-width: 750px) {
  html {
    font-size: 1.3em;
  }
  .Board {
    width: 390px;
  }
}
@media only screen and (min-width: 768px) and (min-height: 1024px) {
  html {
    font-size: 1.7em;
  }
  .Board {
    height: 410px;
  }
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 1.4em;
  }
  .Board {
    width: 370px;
    height: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.3em;
  }
  .Board {
    height: 350px;
    width: 400px;
  }
}
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  html {
    font-size: 1.5em;
  }
  .Board {
    height: 500px;
    width: 500px;
  }
}

@media only screen and (min-width: 1500px) {
  .Board {
    height: 600px;
    width: 600px;
  }
}

@media only screen and (min-width: 2000px) {
  html {
    font-size: 2em;
  }
  .Board {
    height: 700px;
    width: 700px;
  }
}
