* {
  box-sizing: border-box;
}
html {
  font-size: 1em;
}
.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
}
/* <----- Main Header ----> */
header {
  background-color: #ffeb38;
  height: 10vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #101510;
}
/* <----- Mode Selection ----> */
.Mode-Btns-Hidden {
  display: none;
}

.Mode-Btns {
  position: absolute;
  height: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.678);
}
.Mode-Btns p {
  margin: 0;
  width: 80%;
  font-size: 1.2rem;
  font-family: inherit;
  color: white;
  padding: 2%;
  text-align: center;

  min-height: fit-content;
}
.Mode-Btns button {
  border: 2px solid black;
  width: 50%;
  height: 20%;
  font-size: 1.3rem;
  font-family: inherit;
  background-color: #5de273;
}
.Mode-Btns button:hover {
  cursor: pointer;
}
.Mode-Select {
  font-size: 4rem;
}
/* <----- Main Section ----> */
section {
  box-sizing: border-box;
  margin: 0;
  background-color: #8cfd73;
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  color: #420c14;
}

/* —— Player Panels —> */

.Player-Box {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 95%;
  max-width: 95%;
  min-width: 95%;
  min-height: 20%;
  margin: 0.3em;
  border: 1px solid black;
}
.Player {
  display: flex;
  flex-direction: row;
  height: 85%;
  width: 100%;
  background-color: #37d84b;
  max-height: 90%;
}

.Player-Heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 30%;
  min-width: 30%;
  height: 100%;
}
.Player-Heading h2 {
  margin: 0;
  padding-top: 5%;
  text-align: center;
  width: 90%;
  min-height: 60%;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
  word-wrap: break-word;
}
.Icon {
  display: inline-block;
  margin: 0;
  width: fit-content;
  min-width: 40%;
  max-width: fit-content;
  min-height: fit-content;
  height: fit-content;
  border: 1px black solid;
  border-radius: 5%;
  padding: 2%;
  text-align: center;
  background-color: #ffeb38;
  font-size: 1.5rem;
  font-family: Roboto, “Open Sans”, “Helvetica Neue”, sans-serif;
}

/* <----- Player Forms ----> */
.Player-Details {
  display: flex;
  flex-direction: column;
  width: 45%;
  max-height: 100%;
}
.NameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 5%;
}
.Name-Input,
.Weapon-Input {
  width: 60%;
  height: 45%;
  font-family: inherit;
  font-size: 0.9rem;
}
.Change-Button {
  font-size: 0.6rem;
  padding: 0;
  width: 60%;
  height: 45%;
}
.Weapon-Changer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Weapon-Changer span {
  margin: 0;
  display: inline-block;
  font-size: 0.8em;
  padding: 0;
  width: 60%;
  height: 40%;
}

/* <----- Score Display ----> */

.Score-Container {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
  color: #101510;
}
.Score-Container h3 {
  padding-top: 5%;
  height: 50%;
  width: 100%;
  margin: 0;
  text-align: center;
  font-size: 1.7rem;
}
.Score {
  display: inline-block;
  text-align: center;
  font-size: 4rem;
  height: fit-content;
  width: 100%;
}

/* <----- Turn Display ----> */

.Turn-Box {
  background-color: #37d84a;
  height: 15%;
  max-height: 15%;
}

.Turn,
.No-Turn {
  vertical-align: text-bottom;
  text-align: center;
  background-color: #37d84a;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  color: transparent;
  max-height: 100%;
}
.Turn {
  background-color: #ffeb38;
  color: #101510;
  font-size: 1rem;
}

/* <——— GAME SECTION ——> */
.Board-Wrapper {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
.Board-Selector,
.Hidden-Selector {
  /* border: 1px solid yellow; */
  width: 100%;
  text-align: center;
  min-width: 100%;
  /* height: 10%; */
  min-height: 8%;
  max-height: 8%;
  font-size: 1rem;
}

.Hidden-Selector {
  color: transparent;
  background: transparent;
  border: none;
}

.Drop-Down {
  font-size: 0.9rem;
  font-family: inherit;
  height: fit-content;
}
.Hidden-Selector > select {
  display: none;
}

/* <----- Main Board ----> */

.Board {
  display: grid;
  grid-gap: 2%;
  font-size: 1rem;
  justify-content: center;
  height: 225px;
  width: 240px;
}
.Board-9 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 3rem;
}
.Board-16 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  font-size: 2rem;
}
.Board-25 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  font-size: 1.5rem;
}
.Board-36 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-size: 1.5rem;
}
.Board-49 {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  font-size: 1.2rem;
}
.Board-64 {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  font-size: 1rem;
}
.Board-81 {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  font-size: 0.9rem;
}

.Box,
.Winner {
  width: 100%;
  height: 100%;
  background-color: #ffeb38;
  border: 1px solid rgb(95, 83, 67);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #101510;
}

.Winner {
  background-color: #15ff31;
  transform: rotate(360deg);
  transition: transform 1s;
}

.Reset-Btn {
  border: 1px solid black;
  font-size: 0.9rem;
  margin: 0.35rem;
}
.Reset-Btn:hover {
  cursor: pointer;
}

.Box-Content {
  font-family: Roboto, “Open Sans”, “Helvetica Neue”, sans-serif;
}
.Message-Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* height: 20%; */
  margin: 0;
  font-size: 0.8rem;
  min-height: 10%;
  max-height: 10%;
}

.Message,
.No-Message {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 0.9rem;
  text-align: center;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.Win-Message {
  background-color: #f6f9f7;
  padding-top: 2%;
  font-size: 1.5rem;
  animation: blinker 0.6s;
  animation-iteration-count: 4;
}
.No-Message {
  color: transparent;
}

@media only screen and (min-width: 320px) and (max-height: 568px) {
  .Board {
    height: 190px;
    width: 210px;
  }
}
@media only screen and (min-width: 421px) and (max-height: 568px) {
  .Board {
    width: 200px;
    height: 190px;
  }
}
@media only screen and (min-width: 375px) and (max-height: 812px) {
  html {
    font-size: 1.2em;
  }
  .Board {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 1.1em;
  }
  .Board {
    width: 250px;
    height: 220px;
  }
}

@media only screen and (min-width: 411px) {
  html {
    font-size: 1.1em;
  }
  .Board {
    width: 290px;
    height: 230px;
  }
}

@media only screen and (min-width: 500px) {
  html {
    font-size: 1.1em;
  }
  header {
    height: 15vh;
  }

  section {
    flex-direction: row;
    height: 85vh;
  }

  .Mode-Btns button:hover {
    cursor: pointer;
  }
  .Mode-Select {
    font-size: 4rem;
  }
  .Player-Box {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 19%;
    max-height: 90%;
    min-width: 19%;
    min-height: 90%;
  }
  .Player {
    /* border: 1px solid blue; */
    height: 95%;
    min-height: 95%;
    flex-direction: column;
  }
  .Player-Heading {
    /* border: 1px solid blue; */
    justify-content: center;
    width: 100%;
    min-width: 100%;
    height: 30%;
    min-height: 25%;
  }
  .Player-Heading h2 {
    /* height: 50%; */
    width: 90%;
    /* border: 1px solid yellow; */
    /* margin: 0; */
  }
  .Icon {
    width: 100%;
    border: 1px black solid;
  }
  .Player-Details {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
  }

  .Name-Input,
  .Weapon-Input {
    /* border: 1px solid black; */
    width: 90%;
    height: 40%;
  }

  .Change-Button {
    width: 90%;
    height: 30%;
  }
  .Weapon-Changer {
    /* border: 1px solid yellow; */
    height: 100%;
  }

  .Score-Container {
    width: 100%;
    height: 50%;
  }

  .Turn-Box {
    /* border: 1px solid red; */
    height: fit-content;
    height: 5%;
    margin: 0;
    padding: 0;
  }

  .Turn,
  .No-Turn {
    height: 100%;
    width: 100%;
    text-align: center;
  }
  /* * <——— BOARD ——> */
  .Board-Wrapper {
    width: 60%;
    min-width: 50%;
    height: 100%;
    min-height: none;
    max-height: 90%;
    justify-content: space-evenly;
  }

  .Board {
    /* border: 1px solid red; */
    height: 280px;
    width: 280px;
    /* border: 1px solid red; */
    grid-gap: 0.5rem;
  }
  .Turn {
    font-size: 1.1rem;
  }

  .Message-Box {
    margin-top: 0.5rem;
  }

  .Win-Message {
    margin-top: 0.2rem;
  }

  .Reset-Btn {
    margin: 0.4rem;
  }
}

@media only screen and (min-width: 650px) {
  .Board {
    width: 350px;
    height: 340px;
  }
}
@media only screen and (min-width: 750px) {
  html {
    font-size: 1.3em;
  }
  .Board {
    width: 390px;
  }
}
@media only screen and (min-width: 768px) and (min-height: 1024px) {
  html {
    font-size: 1.7em;
  }
  .Board {
    height: 410px;
  }
}

@media only screen and (min-width: 900px) {
  html {
    font-size: 1.4em;
  }
  .Board {
    width: 370px;
    height: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 1.3em;
  }
  .Board {
    height: 350px;
    width: 400px;
  }
}
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) {
  html {
    font-size: 1.5em;
  }
  .Board {
    height: 350px;
    width: 400px;
  }
}
